################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PatronesDeDisegno/.vs
/PatronesDeDisegno/PatronesDeDisegno/bin/Debug/net6.0
/PatronesDeDisegno/PatronesDeDisegno/obj
/PatronesDeDisegno/InyeccionDependencias/obj
/PatronesDeDisegno/InyeccionDependencias/bin/Debug/net6.0
/PatronesDeDisegno/PrototypeShallow/bin/Debug/net6.0
/PatronesDeDisegno/PrototypeShallow/obj/Debug/net6.0
/PatronesDeDisegno/PrototypeShallow/obj/Release/net6.0
/PatronesDeDisegno/PrototypeShallow/obj
/PatronesDeDisegno/FactoryMethod/bin/Debug/net6.0
/PatronesDeDisegno/FactoryMethod/obj/Debug/net6.0
/PatronesDeDisegno/FactoryMethod/obj/Release/net6.0
/PatronesDeDisegno/FactoryMethod/obj
/PatronesDeDisegno/Strategy/bin/Debug/net6.0
/PatronesDeDisegno/Strategy/obj
/PatronesDeDisegno/Mediator/bin/Debug/net6.0
/PatronesDeDisegno/Mediator/obj/Debug/net6.0
/PatronesDeDisegno/Mediator/obj/Release/net6.0
/PatronesDeDisegno/Mediator/obj
