################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PatronesDeDisegno/.vs
/PatronesDeDisegno/PatronesDeDisegno/bin/Debug/net6.0
/PatronesDeDisegno/PatronesDeDisegno/obj
/PatronesDeDisegno/InyeccionDependencias/obj
/PatronesDeDisegno/InyeccionDependencias/bin/Debug/net6.0
/PatronesDeDisegno/PrototypeShallow/bin/Debug/net6.0
/PatronesDeDisegno/PrototypeShallow/obj/Debug/net6.0
/PatronesDeDisegno/PrototypeShallow/obj/Release/net6.0
/PatronesDeDisegno/PrototypeShallow/obj
/PatronesDeDisegno/FactoryMethod/bin/Debug/net6.0
/PatronesDeDisegno/FactoryMethod/obj/Debug/net6.0
/PatronesDeDisegno/FactoryMethod/obj/Release/net6.0
/PatronesDeDisegno/FactoryMethod/obj
/PatronesDeDisegno/Strategy/bin/Debug/net6.0
/PatronesDeDisegno/Strategy/obj
/PatronesDeDisegno/Mediator/bin/Debug/net6.0
/PatronesDeDisegno/Mediator/obj/Debug/net6.0
/PatronesDeDisegno/Mediator/obj/Release/net6.0
/PatronesDeDisegno/Mediator/obj
/PatronesDeDisegno/State/bin/Debug/net6.0
/PatronesDeDisegno/State/obj/Debug/net6.0
/PatronesDeDisegno/State/obj/Release/net6.0
/PatronesDeDisegno/State/obj
/PatronesDeDisegno/Composite/bin/Debug/net6.0
/PatronesDeDisegno/Composite/obj
# Created by https://www.toptal.com/developers/gitignore/api/xamarinstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=xamarinstudio

### XamarinStudio ###
bin/
obj/
*.userprefs
.packages

# End of https://www.toptal.com/developers/gitignore/api/xamarinstudio
